
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#f4f6f9;
    overflow-x:hidden;
}
.dashboard-container{
    display:flex;
    min-height:100vh;
}

.sidebar{

    width:290px;
    background:linear-gradient(180deg,#0b4c66,#05354b);
    color:white;
    padding:28px 20px;
    flex-shrink:0;
}
.logo{


    display:flex;

    align-items:center;
    gap:12px;
    margin-bottom:55px;
}

.logo i{

    color:#45d387;

    font-size:30px;
}

.logo h2{

    font-size:28px;

    font-weight:700;
}



.nav-links{
    list-style:none;
}

.nav-links li{
    margin-bottom:14px;
}

.nav-links li a{

 
    display:flex;

    align-items:center;

    gap:15px;

   
    text-decoration:none;

    color:white;

     
    padding:16px 18px;
    border-radius:14px;
    transition:.3s;

    font-size:17px;

    font-weight:500;
}

.nav-links li.active a,
.nav-links li a:hover{

    background:rgba(255,255,255,0.12);
}

.main-content{

    flex:1;

    padding:20px;
}

.topbar{

    display:flex;
    justify-content:space-between;

    align-items:center;

    margin-bottom:22px;

    gap:20px;
}



